# bio_embeddings[all]

torch
fair-esm[esmfold]
# OpenFold and its remaining dependency
dllogger @ git+https://github.com/NVIDIA/dllogger.git
# openfold @ git+https://github.com/aqlaboratory/openfold.git@4b41059694619831a7db195b7e0988fc4ff3a307

yet_another_retnet




#samcc
samcc-turbo

transformers

sentencepiece
accelerate
jupyter
ipywidgets

matplotlib
tqdm
scikit-learn

# for performance metric visualization
snakeviz

# storage
h5py


torchvision
torchaudio

# find cycles
networkx

# pandas
pandas

fasta

# pandas ext for reading in html
lxml
beautifulsoup4
gemmi

# visualize torch models
torchviz

# onnnx
onnx

